.container__table table {
  thead {
    padding-bottom: 10px;
    .header__schedule td {
      font-weight: bold;

      padding: 2px;
    }
  }
  width: auto;

  margin: 150px auto;

  border: 1px solid black;
  tr,
  td {
    width: auto;

    border: 1px solid black;
  }
}
