@font-face {
  font-family: "Skyfont-NonCommercial";
  src: url("./fonts/a.otf");
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(222, 224, 223);
}

.App {
  width: 100vw;

  .container__image-waiting {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .image-waiting {
      height: 400px;
      width: auto;
      margin: 0 auto;
      border-radius: 30px;
      box-shadow: 25px 25px 50px 10px rgb(43, 42, 42);
    }
  }
  h2 {
    font-size: 60px;
    text-align: center;
  }
}
